@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

}
.type {
  display: flex;
  gap: 5px;
}

.type_item {
  padding: 5px 5px;
  border-radius: 10px;
}

.normal {
  background-color: #a8a77a
}

.flying {
  background-color: #a98ff3
}

.poison {
  background-color: #a33ea1
}

.ground {
  background-color: #e2bf65
}

.rock {
  background-color: #b6a136
}

.bug {
  background-color: #a6b91a
}

.ghost {
  background-color: #735797
}

.steel {
  background-color: #b7b7ce
}

.fire {
  background-color: #ff421c
}

.water {
  background-color: #6390f0
}

.grass {
  background-color: #78cd54
}

.electric {
  background-color: #f7d02c
}

.psychic {
  background-color: #f95587
}

.ice {
  background-color: #96d9d6
}

.dragon {
  background-color: #6f35fc
}

.dark {
  background-color: #705746
}

.fairy {
  background-color: #d685ad
}

.unknow {
  background-color: #68a090
}

.shadow {
  background-color: #735797
}
.fighting {
  background-color: #c22e28;
}